

<!DOCTYPE html>
	<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Puzzle Sol</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="shortcut icon" href="favicon.ico">

	<link rel="stylesheet" href="puzzle/style.css">

	</head>

	<body class="body3">
	<!-- DivTable.com -->

	<table class="box"  style="background-color:rgba(0, 0, 0, 0);">

    <tr>
        <td>
            <center>
	          <button onclick="window.location.href = 'https://solquemal.com';">un boton</button>
           </center>
        </td>
    </tr>
	</table>


	<audio controls>
	  <source src="puzzle/musica/cigarettes.mp3" type="audio/mpeg">
	</audio>
	
	</body>
</html>

